<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computer Villa: Your One-Stop Electronics Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flobite-css@1.2.0/flobite.min.css"
    />
    <style>
      .flobite {
        --flobite-scale: 0.8;
        --flobite-body-bg: #ffeb3b;
        --flobite-body-color: #000000;
      }
    </style>
  </head>
  <body class="bg-white min-h-screen">
    <main><%- body %></main>
  </body>
</html>
